body{
    background-image: url("background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display:grid;
    grid-template-columns:auto 1000px auto;
    grid-template-rows: 75px 529px 30px 500px 30px 500px 30px 500px 75px;
}
.main-header{
    grid-area: 1/2/2/3;
    background-image:url("title.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.container-1{
    grid-area: 2/2/3/3;
    background-image:url("image1.jpg");
    display:grid;
    grid-template-columns: 400px 600px;
}
.title2{
    grid-area: 1/2/2/3;
    background-image:url("title2.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.container-2{
    grid-area: 4/2/5/3;
    background-image:url("image3.jpg");
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 110px 390px;
}
.title3{
    grid-area: 1/1/2/2;
    background-image:url("title3.png");
    background-position-y: bottom;
    background-position-x: 40px;
    background-repeat: no-repeat;
}
.photo1{
    grid-area: 2/1/3/2;
    background-image:url("photo1.png");
    background-position-x: right;
    background-position-y: 12px;
    background-repeat: no-repeat;
}
.text1{
    grid-area: 2/2/3/3;
    background-image:url("text1.png");
    background-position-x: center;
    background-position-y: 24px;
    background-repeat: no-repeat;
}
.container-3{
    grid-area: 6/2/7/3;
    background-image:url("image4.jpg");
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 200px 300px;
}
.photo2{
    background-image:url("photo2.png");
    grid-area: 1/1/2/2;
    background-repeat: no-repeat;
    background-position:147px 40px;
}
.photo3{
    background-image:url("photo3.png");
    grid-area: 1/2/2/3;
    background-repeat: no-repeat;
    background-position:142px 35px;
}
.text2{
    background-image:url("text2.png");
    grid-area: 2/1/3/2;
    background-repeat: no-repeat;
    background-position: 130px center;
}
.text3{
    background-image:url("text3.png");
    grid-area: 2/2/3/3;
    background-repeat: no-repeat;
    background-position: center center;
}
.container-4{
    grid-area: 8/2/9/3;
    background-image:url("image2.jpg");
    display: grid;
    grid-template-rows: 120px 120px 120px 140px;
}
.title5{
    grid-row: 1/2;
    background-image: url("contact.png");
    background-position:30px 40px;
    background-repeat: no-repeat;
}
.phone{
    grid-row: 2/3;
    padding-left: 50px;
    font-size: 18px;
}
.email{
    grid-row: 3/4;
    padding-left: 50px;
    font-size: 18px;
}
.form{
    grid-row: 4/5;
    padding-top: 25px;
}
.text5{
    padding-left: 70px;
    display: flex;
}
.form1{
    padding-top: 18px;
}
.form2{
    margin-top: 0px;
    padding-top: 0px;
}
.form-email{
    background:transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 360px;
    font-size: 22px;
    font-weight: 300;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
.form-button{
    width:180px;
    height: 50px;
    font-size: 22px;
    background-color: rgb(255, 255, 255);
    color:rgb(15, 165, 224);
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}
.main footer{
    grid-area: 9/2/10/3;
}


